In [1]:
print("Hello")

Hello

In [ ]:
Exercise 1

In [3]:
print("Keerthana Baiju")
print("ST01")
print("keerthanabaiju123@gmail.com")

Keerthana Baiju
ST01
keerthanabaiju123@gmail.com

In [ ]:
Exercise 2

In [19]:
print("Keerthana Baiju\nST01\tkeerthanabaiju123@gmail.com")   # \n=a new line, \t=a horizontal tab space

Keerthana Baiju
ST01	keerthanabaiju123@gmail.com

In [ ]:
Exercise 3

In [15]:
a=16
b=2
print("16+2=",a+b)
print("16-2=",a-b)
print("16*2=",a*b)
print("16/2=",a/b)

16+2= 18
16-2= 14
16*2= 32
16/2= 8.0

In [ ]:
Exercise 4

In [23]:
print("1\n2\n3\n4\n5")

1
2
3
4
5

In [29]:
print("\"SDK\" stands for\"Software Development Kit\", whereas\n \"IDE\" stands for \"Integrated  Development Environment\".")
# \"= includes actual quotes

"SDK" stands for"Software Development Kit", whereas
 "IDE" stands for "Integrated  Development Environment".

In [ ]:
Exercise 6

In [37]:
print("python is an \"awesome\" language.")
print("python\n\t2023")
print('I\'m from Entri.\b')
print("\65")
print("\x65")
print("Entri", "2023", sep="\n")
print("Entri", "2023", sep="\b")
print("Entri", "2023", sep="*",end="\b\b\b")

python is an "awesome" language.
python
	2023
I'm from Entri
5
e
Entri
2023
Entr2023
Entri*202

In [ ]:
Exercise 7

In [39]:
num=23
textnum="57"
decimal=98.3
print(type(num))
print(type(textnum))
print(type(decimal))
print(type(num+int(textnum)+decimal))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'float'>

In [ ]:
Exercise 8

In [41]:
days_in_year = 365
hours_in_day = 24
minutes_in_hour = 60
total_minutes = days_in_year * hours_in_day * minutes_in_hour
print("Days in a year:", days_in_year)
print("Hours in a day:", hours_in_day)
print("Minutes in an hour:", minutes_in_hour)
print("Total number of minutes in a year:", total_minutes)

Days in a year: 365
Hours in a day: 24
Minutes in an hour: 60
Total number of minutes in a year: 525600

In [ ]:
Exercise 9

In [7]:
name = input("Please enter your name; ")
print(f"Hi {name}, welcome to python programming :)")

Please enter your name;  keerthana

Hi keerthana, welcome to python programming :)

In [ ]:
Exercise 10

In [9]:
pou=int(input("Please enter amount in pounds"))
print(f"£{pou} are ${1.32*pou}")

Please enter amount in pounds 100

£100 are $132.0